In [529]:
import pandas as pd
import numpy as np
df=pd.read_csv("dataset/movie_details.csv")

In [530]:
df.head(2)

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos
0,278,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,The Shawshank Redemption,1994-09-23,142,8.704,"Drama, Crime",Framed in the 1940s for the double murder of h...,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Frank Darabont,"prison, friendship, police brutality, corruption",R,False,en,139.838,"PLl99DlL6b4, hUbIsfzOjk4, GdcYxQmx15Q, MJPdA2x..."
1,238,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,The Godfather,1972-03-14,175,8.695,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...","Marlon Brando, Al Pacino, James Caan, Robert D...",Francis Ford Coppola,"based on novel or book, loss of loved one, lov...",R,False,en,116.885,"GiZVLFvQruQ, evl5ai7Mg7w, 1cdrtPIzjII, 7IXVycN..."

In [531]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9279 entries, 0 to 9278
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 9279 non-null   int64
 1   backdrop_path      9273 non-null   object
 2   poster_path        9276 non-null   object
 3   title              9279 non-null   object
 4   release_date       9279 non-null   object
 5   runtime            9279 non-null   int64
 6   vote_average       9279 non-null   float64
 7   genres             9276 non-null   object
 8   overview           9278 non-null   object
 9   casts              9265 non-null   object
 10  directors          9279 non-null   object
 11  keywords           8919 non-null   object
 12  certification      8080 non-null   object
 13  adult              9279 non-null   bool
 14  original_language  9279 non-null   object
 15  popularity         9279 non-null   float64
 16  videos             8904 non-null   object
dtypes: bool(1), float64(2), int64(2), object(12)
memory usage: 1.1+ MB

In [532]:
df.duplicated().sum()

1

In [533]:
# Get the duplicate rows
duplicate_rows = df[df.duplicated()]

duplicate_rows

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos
5482,639798,/gT6OgUW6fxa8S5pUOZKKIhZe1xX.jpg,/neCS8vPAtsj9cJDGNaEH76ImSd7.jpg,32 Malasana Street,2020-01-17,105,6.466,"Drama, Horror","Malasaña neighborhood, Madrid, Spain, 1976. Wh...","Begoña Vargas, Iván Marcos, Bea Segura, Sergio...",Albert Pintó,"husband wife relationship, sibling relationshi...",NaN,False,es,22.878,I3gRqsw-nHM

In [534]:
# Define a list of movie IDs you want to filter for
specific_ids = [639798] 

# Filter the DataFrame for rows with IDs in the specific_ids list
specific_movies = df[df['id'].isin(specific_ids)]

specific_movies

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos
5472,639798,/gT6OgUW6fxa8S5pUOZKKIhZe1xX.jpg,/neCS8vPAtsj9cJDGNaEH76ImSd7.jpg,32 Malasana Street,2020-01-17,105,6.466,"Drama, Horror","Malasaña neighborhood, Madrid, Spain, 1976. Wh...","Begoña Vargas, Iván Marcos, Bea Segura, Sergio...",Albert Pintó,"husband wife relationship, sibling relationshi...",NaN,False,es,22.878,I3gRqsw-nHM
5482,639798,/gT6OgUW6fxa8S5pUOZKKIhZe1xX.jpg,/neCS8vPAtsj9cJDGNaEH76ImSd7.jpg,32 Malasana Street,2020-01-17,105,6.466,"Drama, Horror","Malasaña neighborhood, Madrid, Spain, 1976. Wh...","Begoña Vargas, Iván Marcos, Bea Segura, Sergio...",Albert Pintó,"husband wife relationship, sibling relationshi...",NaN,False,es,22.878,I3gRqsw-nHM

In [535]:
df.drop_duplicates(inplace=True)

In [536]:
df.duplicated().sum()

0

In [537]:
df.isna().sum()

id                      0
backdrop_path           6
poster_path             3
title                   0
release_date            0
runtime                 0
vote_average            0
genres                  3
overview                1
casts                  14
directors               0
keywords              360
certification        1198
adult                   0
original_language       0
popularity              0
videos                375
dtype: int64

In [538]:
df_over = df[df['overview'].isnull()]
df_over.head()

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos
9060,42436,/iweTLbiGNv42fNcgQTmg19n0s0T.jpg,/n83LsfQCPReYembtNtuGwqUkUOS.jpg,Natale in crociera,2007-12-14,103,4.963,Comedy,NaN,"Christian De Sica, Michelle Hunziker, Fabio De...",Neri Parenti,"cruise ship, cinepanettone",NaN,False,it,5.662,NaN

In [539]:
df.loc[df['id'] == 42436, 'overview'] = "A man decides to go on a cruise with his lover while his wife and son are skiing in the mountains during the Christmas holidays, but his unsuspecting brother-in-law may destroy his plans."
df.loc[df['id'] == 42436, 'videos'] = "c3ypZX4QrP0"

In [540]:
df_backdrop = df[df['backdrop_path'].isnull()]
df_backdrop.head(6)

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos
3322,834860,NaN,/5YOSdqwvDLxQiqqQ3KeUNt1ir1L.jpg,RETURN,1985-01-01,31,6.957,NaN,8mm work directed by Norihiko Morinaga.,NaN,Norihiko Morinaga,NaN,NaN,False,ja,9.074,NaN
3618,670355,NaN,NaN,Return,2020-01-28,18,6.876,"Drama, Fantasy","Owen, a young man is dissatisfied with his lif...","Anish Bhat, James Jay",Mark Berezov,NaN,NaN,False,en,8.591,OcF9ibr4QjY
4254,1086372,NaN,NaN,Return,1972-07-02,82,6.700,NaN,The main character of the film is an outstandi...,NaN,Arman Manaryan,NaN,NaN,False,hy,7.281,NaN
5326,320367,NaN,/a3fhJx8oVTC1Mh9QraF1z2K1Wr1.jpg,Return,2015-01-01,45,6.502,Drama,A tale of terror. Cathy Reed has been institut...,"Julie Thursham, Dave Kukadia, Roger Camden, Pr...",Haqi Ali,NaN,NaN,False,en,7.607,kmlxHVfIy1k
5440,379862,NaN,/rEnvFHITDcvKA7Gi9pD5FeCiEXy.jpg,Return,2015-11-28,17,6.477,Horror,A young couple purchase their new home to star...,"Kathryn Aboya, Mike Donis, Astrida Auza, Dunca...",Jon Hyatt,"body snatchers, short film",NaN,False,en,11.104,ptjqn18kMf8
5557,836466,NaN,NaN,Return,2020-06-10,12,6.456,Animation,A single man has worked most of his life in a ...,NaN,Jonathan Delgado Herrera,NaN,NaN,False,en,6.723,NaN

In [541]:
df = df.drop(df[(df['id'] == 834860) | (df['id'] == 1086372) | (df['id'] == 836466)| (df['id'] == 670355)].index)

In [542]:
df_backdrop = df[df['backdrop_path'].isnull()]
df_backdrop.head()

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos
5326,320367,NaN,/a3fhJx8oVTC1Mh9QraF1z2K1Wr1.jpg,Return,2015-01-01,45,6.502,Drama,A tale of terror. Cathy Reed has been institut...,"Julie Thursham, Dave Kukadia, Roger Camden, Pr...",Haqi Ali,NaN,NaN,False,en,7.607,kmlxHVfIy1k
5440,379862,NaN,/rEnvFHITDcvKA7Gi9pD5FeCiEXy.jpg,Return,2015-11-28,17,6.477,Horror,A young couple purchase their new home to star...,"Kathryn Aboya, Mike Donis, Astrida Auza, Dunca...",Jon Hyatt,"body snatchers, short film",NaN,False,en,11.104,ptjqn18kMf8

In [543]:
df_genre = df[df['genres'].isnull()]
df_genre.head()

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos
3163,50472,/AgR5kMOUbfE6BpOlAf2JIEdCqS3.jpg,/eUese3BGFCRFPV8riDw8qBy8ea4.jpg,Anplagghed al cinema,2006-11-26,95,7.0,NaN,"A queue at the ATM machine, a displaced family...","Aldo Baglio, Giovanni Storti, Giacomo Poretti,...","Rinaldo Gaspari, Arturo Brachetti",NaN,NaN,False,it,6.022,NaN

In [544]:
df.loc[df['id'] == 50472, 'genres'] = "Comedy"
df.loc[df['id'] == 50472, 'videos'] = "o0nKadIRVRE"

In [545]:
df_casts = df[df['casts'].isnull()]
df_casts.head()

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos
160,399106,/4GWYk5VP9qu1rNSeNAwNaBy9mwS.jpg,/rfEkkVzmrMYqGezNLl02mVyJCP2.jpg,Piper,2016-06-16,6,8.150,"Family, Animation",A mother bird tries to teach her little one ho...,NaN,Alan Barillaro,"fear, short film",G,False,en,20.215,"DW8T9nvitLI, Cn5l7HJaYuA"
228,831827,/d3dkL8C7gfd8cv5xJLBJ3IG37nY.jpg,/39oaQUS0KxyXL6KYJ2o2u03PpHz.jpg,Far from the Tree,2021-11-24,7,8.100,"Animation, Family","On an idyllic beach in the Pacific Northwest, ...",NaN,Natalie Nourigat,short film,G,False,en,13.554,"s01ZvmCrotA, dPKg1du3xmI, Jf6T9L5CKO4"
328,574074,/xtj3EhrFHMrZCLTWH6LarEXAG8r.jpg,/mwKO3cZbxipgd9QAPboJVTDLPiN.jpg,Kitbull,2019-01-18,9,8.000,"Animation, Family, Drama",An unlikely connection sparks between two crea...,NaN,Rosana Sullivan,"friendship, cat, dog, animal",PG,False,en,46.530,"AZS5cgybKcI, I6AMdsH0-uo, 7Nj8tNjs074, J20kmqY..."
750,713776,/tfhKc6tMxBVZuiipbXWUYdXyMYj.jpg,/85tDhACvKDQxQoJhBYLvDU0ik1n.jpg,If Anything Happens I Love You,2020-03-07,12,7.706,"Drama, Animation","In this Oscar-winning short film, grieving par...",NaN,"Will McCormack, Michael Govier","tearjerker, social issues, grieving parents, l...",PG,False,en,12.731,n18AbC8qfiw
1233,433471,/f13RF99zjorGVJnSSsOqyj5dzYh.jpg,/4G2CdCQjtZYYurVuO38dAcnJYuJ.jpg,Lou,2017-06-16,6,7.504,"Family, Fantasy, Animation",A Pixar short about a lost-and-found box and t...,NaN,Dave Mullins,short film,G,False,en,9.631,0iYsBnj2BUk

In [546]:
df.loc[df['id'] == 399106, 'casts'] = "Bui Quoc Huy Steve, Piper, Bui Quoc, atores desconhecidos, Куок Хай"
df.loc[df['id'] == 713776, 'casts'] = "Muneer Lyati"
df.loc[df['id'] == 433471, 'casts'] = "Allison Janney, Jurnee Smollett, Logan Marshall-Green, Ridley Asha Bateman"
df.loc[df['id'] == 13060, 'casts'] = "Sheb Wooley, Jack Angel, Marsha Stephanie Blake, Maryam Myika Day"
df.loc[df['id'] == 13925, 'casts'] = "Gary Rydstrom, Mel Blanc, Personajes Animados"
df.loc[df['id'] == 13926, 'casts'] = "Mel Blanc"

In [547]:
df_casts = df[df['casts'].isnull()]
df_casts.head()

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos
228,831827,/d3dkL8C7gfd8cv5xJLBJ3IG37nY.jpg,/39oaQUS0KxyXL6KYJ2o2u03PpHz.jpg,Far from the Tree,2021-11-24,7,8.100,"Animation, Family","On an idyllic beach in the Pacific Northwest, ...",NaN,Natalie Nourigat,short film,G,False,en,13.554,"s01ZvmCrotA, dPKg1du3xmI, Jf6T9L5CKO4"
328,574074,/xtj3EhrFHMrZCLTWH6LarEXAG8r.jpg,/mwKO3cZbxipgd9QAPboJVTDLPiN.jpg,Kitbull,2019-01-18,9,8.000,"Animation, Family, Drama",An unlikely connection sparks between two crea...,NaN,Rosana Sullivan,"friendship, cat, dog, animal",PG,False,en,46.530,"AZS5cgybKcI, I6AMdsH0-uo, 7Nj8tNjs074, J20kmqY..."
2149,13933,/mYbnwRWnKiL44Yoyv9YJublvpB.jpg,/nBBl8gWJvVppKqyY4ugdm3znZ9G.jpg,One Man Band,2005-06-21,4,7.250,"Animation, Comedy, Family, Music",With one coin to make a wish at the piazza fou...,NaN,"Andrew Jimenez, Mark Andrews","fountain, rivalry, coin, bag of money",G,False,en,14.045,8A7Pe8oGhq8
3026,13928,/qPbjBETj6O0tYy0s59L9qmc06Xo.jpg,/ouk2QFv4NySNfitAgXqnTtO5vA1.jpg,Knick Knack,1989-11-23,4,7.029,"Animation, Family, Comedy",Life on a shelf as a snowman trapped in a snow...,NaN,John Lasseter,"escape, snowman, snowglobes, short film",G,False,en,16.007,9uhM_SUhdaw
3424,116440,/cxJsU3BfJ7NkKae5gWqJkmu3aCO.jpg,/muCMEJrYw6B06Zttn879nYtCGvS.jpg,"Maggie Simpson in ""The Longest Daycare""",2012-07-12,5,6.934,"Animation, Drama, Family",Maggie must navigate an eventful first day in ...,NaN,David Silverman,"blue, daycare, toddler, butterfly",PG,False,en,15.045,gV-NRwLV2qU

In [548]:
df.isnull().sum()

id                      0
backdrop_path           2
poster_path             0
title                   0
release_date            0
runtime                 0
vote_average            0
genres                  0
overview                0
casts                   5
directors               0
keywords              356
certification        1194
adult                   0
original_language       0
popularity              0
videos                370
dtype: int64

In [549]:
df_keyvideo = df[(df['keywords'].isnull()) & (df['videos'].isnull())]
df_keyvideo.head(len(df_keyvideo))

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos
113,654299,/o33acwn7KliNpJRbjy4FrMSpiQ9.jpg,/xg6QZdlHrq2dtSK8cfnQQMnmpeY.jpg,Out of the Clear Blue Sky,2019-12-24,112,8.200,"Comedy, Drama, Music","Returning to Earth as an imitator, the legenda...","Omar Chaparro, Ana Claudia Talancón, Stephanie...",Pepe Bojórquez,NaN,NaN,False,es,18.458,NaN
140,620683,/19vTfircuojU00I6xtRdy3DrF1e.jpg,/zw77BFPGJ73Lig8GwRzYj1XHq53.jpg,My Mom Is a Character 3,2019-12-26,111,8.182,Comedy,Dona Hermínia will have to rediscover and rein...,"Paulo Gustavo, Mariana Xavier, Rodrigo Pandolf...",Susana Garcia,NaN,NaN,False,pt,8.871,NaN
184,38288,/mFVGzW8a2Z37NphnuB6liChiuRv.jpg,/y3hEulMYSTQuvmI5jBTyWrcvJQX.jpg,I corti,1996-03-29,120,8.100,Comedy,"I corti (""shorts"") by Aldo, Giovanni & Giacomo...","Aldo Baglio, Giacomo Poretti, Giovanni Storti,...",Arturo Brachetti,NaN,NaN,False,it,4.797,NaN
192,640344,/wooZWiC4NWH0ahCSUOogEmVejHo.jpg,/sfeQTIRkJjWt8IPDSBcPqkrcaas.jpg,Me Against You: Mr. S's Vendetta,2020-01-17,64,8.100,"Family, Fantasy",A young couple who makes popular YouTube video...,"Sofia Scalia, Luigi Calagna, Antonella Carone,...",Gianluca Leuzzi,NaN,NaN,False,it,6.470,NaN
234,610461,/e7Z0DROMA9KLW5LfLXgYGv48qk4.jpg,/oSbCdDI0SAAOdywGe0YVO2iDdV9.jpg,"Veinteañera, divorciada y fantástica",2020-02-14,93,8.059,Comedy,"Regina, our young protagonist, always dreamed ...","Paulina Goto, Jesús Zavala, Vadhir Derbez, Nat...",Noé Santillán-López,NaN,NaN,False,es,8.118,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9064,277839,/rfRdr9YPjqTTVSwcO35BAMnR4FL.jpg,/cfVBQQ28PRwWELnvvKr7LSPfbTP.jpg,"Good Guys Go to Heaven, Bad Guys Go to Pattaya",2016-02-24,100,5.000,Comedy,Franky and Krimo dream of leaving the grey gri...,"Franck Gastambide, Malik Bentalha, Anouar Toub...",Franck Gastambide,NaN,NaN,False,fr,16.223,NaN
9102,226936,/pxVYutHoOWJ6wOSNOyk9OzzMkZ6.jpg,/e4Bc0uYEFOnFSFa88ZX0qmZqIbP.jpg,Aspirante vedovo,2013-10-10,84,4.900,Comedy,A ne'er-do-well who's married to a millionnair...,"Fabio De Luigi, Luciana Littizzetto, Ale, Fran...",Massimo Venier,NaN,NaN,False,it,5.772,NaN
9229,18955,/cMW3hiXiGuAP6X3Nbjr7AvxEszc.jpg,/xQ7gSJIlF4wG6qcaRmiVGBiTKWW.jpg,Coco,2009-07-21,95,4.296,Comedy,Coco is a French comedy released in 2009 and p...,"Gad Elmaleh, Pascale Arbillot, Manu Payet, Jea...",Gad Elmaleh,NaN,NaN,False,fr,7.791,NaN
9240,375798,/bznM6AcTWgHRIU8g7eHmMiFPhAg.jpg,/1P06g8zu5lbFnRL0isHyxF6mW7J.jpg,Brice 3,2016-10-19,95,4.200,Comedy,"Brice is back. The world has changed, but not ...","Jean Dujardin, Clovis Cornillac, Bruno Salomon...",James Huth,NaN,NaN,False,fr,6.613,NaN
9262,419507,/nWWfohnSpIGw8worhKiFRmk2SZX.jpg,/gS6lW5OVa29noaS9IS9YWxeITXY.jpg,Fuga da Reuma Park,2016-12-15,86,4.000,Comedy,"Old and forgotten, comedian Aldo is brought by...","Aldo Baglio, Giovanni Storti, Giacomo Poretti,...","Giacomo Poretti, Giovanni Storti, Aldo Baglio,...",NaN,NaN,False,it,5.945,NaN

In [550]:
df = df.drop(df_keyvideo.index)

In [551]:
df.isnull().sum()

id                      0
backdrop_path           2
poster_path             0
title                   0
release_date            0
runtime                 0
vote_average            0
genres                  0
overview                0
casts                   5
directors               0
keywords              244
certification        1089
adult                   0
original_language       0
popularity              0
videos                258
dtype: int64

In [552]:
df_null_keywords = df[df['keywords'].isnull()]
df_null_keywords.head(len(df_null_keywords))

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos
21,704264,/uBZQOYZLIU9dBmd62fdzBAoropu.jpg,/9NBBkdxH0TjQEBSN2AzeE1sgsF9.jpg,Primal: Tales of Savagery,2019-11-21,85,8.442,"Action, Adventure, Animation, Drama",Genndy Tartakovsky's Primal: Tales of Savagery...,"Aaron LaPlante, Jon Olson, Bryan Andrews, Darr...",Genndy Tartakovsky,NaN,NR,False,en,14.845,vaOn8koDa9E
27,696374,/w2uGvCpMtvRqZg6waC1hvLyZoJa.jpg,/oyG9TL7FcRP4EZ9Vid6uKzwdndz.jpg,Gabriel's Inferno,2020-05-29,122,8.400,"Romance, Drama",An intriguing and sinful exploration of seduct...,"Melanie Zanetti, Giulio Berruti, Kurt McKinney...",Tosca Musk,NaN,NaN,False,en,12.024,"kgWFjmiqHmQ, a581-Vb-nrQ, f8t8LE28YUQ, Hj_ipBf..."
28,667257,/bxSBOAD8AuMHYMdW3jso9npAkgt.jpg,/t2Ew8NZ8Ci2kqmoecZUNQUFDJnQ.jpg,Impossible Things,2021-06-17,88,8.400,"Family, Drama","Matilde is a woman who, after the death of her...","Nora Velázquez, Benny Emmanuel, Luisa Huertas,...",Ernesto Contreras,NaN,NaN,False,es,11.518,eRJryexKYxQ
36,40096,/alQqTpmEkxSLgajfEYTsTH6nAKB.jpg,/imcOp1kJsCsAFCoOtY5OnPrFbAf.jpg,A Dog's Will,2000-09-15,104,8.400,"Comedy, Drama, Fantasy",The lively João Grilo and the sly Chicó are po...,"Matheus Nachtergaele, Selton Mello, Rogério Ca...",Guel Arraes,NaN,NaN,False,pt,15.140,wDVdgnhiNlY
37,761053,/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg,/fYtHxTxlhzD4QWfEbrC1rypysSD.jpg,Gabriel's Inferno: Part III,2020-11-19,105,8.400,"Romance, Drama",The final part of the film adaption of the ero...,"Melanie Zanetti, Giulio Berruti, Rhett Welling...",Tosca Musk,NaN,NaN,False,en,25.548,mjPUGem9SaY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9123,21943,/flWQA4sdKEAUpUjyjsSEVMpqWxo.jpg,/cFGEqTIz82FjZbSY1U4M8O7WLhM.jpg,I Want You,2007-03-09,106,4.800,"Romance, Comedy",A macho type man becomes entangled with an ind...,"Riccardo Scamarcio, Laura Chiatti, Katy Louise...",Luis Prieto,NaN,NaN,False,it,6.189,hQKbm5Cx9M0
9177,78049,/oNGw9appaywtcZwf64GABeTPBgL.jpg,/chDnDwzv9njnYHDr2lhsvujSaPb.jpg,The Scorpion King 3: Battle for Redemption,2012-01-17,106,4.573,"Action, Adventure, Fantasy, Drama",Since his triumphant rise to power in the orig...,"Victor Webster, Bostin Christopher, Temuera Mo...",Roel Reiné,NaN,PG-13,False,en,31.216,rld-6rRDb-k
9180,455551,/AjZZVxmO6iUyYD5JS4ZuPeo78sx.jpg,/yq2DGzM0kNWtGwkplGAcEEM4eSH.jpg,The Recall,2017-06-02,91,4.556,"Science Fiction, Horror",When five friends vacation at a remote lake ho...,"Wesley Snipes, RJ Mitte, Jedidiah Goodacre, La...",Mauro Borrelli,NaN,R,False,en,20.247,"3xTgJ_Ld8RI, f8Hcn-DLBPE"
9199,407559,/vTfQfWUaj4QUJFvtCUHShIxrIuW.jpg,/lq8ktDO2uqJFgV0jRlMQlPSmNm8.jpg,I Am the Pretty Thing That Lives in the House,2016-09-10,89,4.482,"Drama, Horror, Mystery",A young nurse takes care of elderly author who...,"Ruth Wilson, Paula Prentiss, Bob Balaban, Lucy...",Osgood Perkins,NaN,NaN,False,en,12.496,NRP-4f_vyrY
9207,26264,/8FwLEl7WNO2vTn6ZVukKFgpwJlz.jpg,/hMJbCWC9EpkVNKM3KaIOElCQIrT.jpg,George of the Jungle 2,2003-08-18,87,4.429,"Adventure, Comedy, Family","George and Ursula now have a son, George Junio...","Christopher Showerman, Julie Benz, Angus T. Jo...",David Grossman,NaN,PG,False,en,20.974,IzbvH2gJSbI

In [553]:
df.isnull().sum()

id                      0
backdrop_path           2
poster_path             0
title                   0
release_date            0
runtime                 0
vote_average            0
genres                  0
overview                0
casts                   5
directors               0
keywords              244
certification        1089
adult                   0
original_language       0
popularity              0
videos                258
dtype: int64

In [554]:
zero_counts = df.isin([0]).sum()
print(zero_counts)

id                      0
backdrop_path           0
poster_path             0
title                   0
release_date            0
runtime                 0
vote_average            0
genres                  0
overview                0
casts                   0
directors               0
keywords                0
certification           0
adult                9162
original_language       0
popularity              0
videos                  0
dtype: int64

In [555]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9162 entries, 0 to 9278
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 9162 non-null   int64
 1   backdrop_path      9160 non-null   object
 2   poster_path        9162 non-null   object
 3   title              9162 non-null   object
 4   release_date       9162 non-null   object
 5   runtime            9162 non-null   int64
 6   vote_average       9162 non-null   float64
 7   genres             9162 non-null   object
 8   overview           9162 non-null   object
 9   casts              9157 non-null   object
 10  directors          9162 non-null   object
 11  keywords           8918 non-null   object
 12  certification      8073 non-null   object
 13  adult              9162 non-null   bool
 14  original_language  9162 non-null   object
 15  popularity         9162 non-null   float64
 16  videos             8904 non-null   object
dtypes: bool(1), float64(2), int64(2), object(12)
memory usage: 1.2+ MB

In [556]:
df['tags'] = df['title']+df['keywords']+df['genres']+df['casts']+df['original_language']

In [557]:
# Convert non-string values to empty string
df['tags'] = df['tags'].apply(lambda x: '' if not isinstance(x, str) else x)

# Convert tags to lowercase
df['tags'] = df['tags'].apply(lambda x: x.lower())

In [558]:
df.head(2)

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos,tags
0,278,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,The Shawshank Redemption,1994-09-23,142,8.704,"Drama, Crime",Framed in the 1940s for the double murder of h...,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Frank Darabont,"prison, friendship, police brutality, corruption",R,False,en,139.838,"PLl99DlL6b4, hUbIsfzOjk4, GdcYxQmx15Q, MJPdA2x...","the shawshank redemptionprison, friendship, po..."
1,238,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,The Godfather,1972-03-14,175,8.695,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...","Marlon Brando, Al Pacino, James Caan, Robert D...",Francis Ford Coppola,"based on novel or book, loss of loved one, lov...",R,False,en,116.885,"GiZVLFvQruQ, evl5ai7Mg7w, 1cdrtPIzjII, 7IXVycN...","the godfatherbased on novel or book, loss of l..."

In [559]:
def preprocess_dataset(df):
    # Convert runtime to H and min format
    df['runtime'] = df['runtime'].apply(lambda x: f"{x//60}h {x%60}min")

    # Convert release date to date format
    df['release_date'] = pd.to_datetime(df['release_date'])
    
    df['vote_average'] = df['vote_average'].round(1)
    
    df['popularity'] = df['popularity'].round(2)
    
    df = df.sort_values('release_date', ascending=False)
    return df



# Preprocess the dataset
new = preprocess_dataset(df)

# Save the preprocessed dataset
new.to_csv('dataset/preprocessed_movies.csv', index=False)

In [560]:
df.head(2)

,id,backdrop_path,poster_path,title,release_date,runtime,vote_average,genres,overview,casts,directors,keywords,certification,adult,original_language,popularity,videos,tags
0,278,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,The Shawshank Redemption,1994-09-23,2h 22min,8.7,"Drama, Crime",Framed in the 1940s for the double murder of h...,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Frank Darabont,"prison, friendship, police brutality, corruption",R,False,en,139.84,"PLl99DlL6b4, hUbIsfzOjk4, GdcYxQmx15Q, MJPdA2x...","the shawshank redemptionprison, friendship, po..."
1,238,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,The Godfather,1972-03-14,2h 55min,8.7,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...","Marlon Brando, Al Pacino, James Caan, Robert D...",Francis Ford Coppola,"based on novel or book, loss of loved one, lov...",R,False,en,116.88,"GiZVLFvQruQ, evl5ai7Mg7w, 1cdrtPIzjII, 7IXVycN...","the godfatherbased on novel or book, loss of l..."

In [561]:
#countvectorization
from sklearn.feature_extraction.text import CountVectorizer

In [562]:
cv = CountVectorizer(max_features = 1000, stop_words='english')

In [563]:
vector = cv.fit_transform(new['tags']).toarray()

In [564]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [565]:
from sklearn.metrics.pairwise import cosine_similarity

In [566]:
similarity = cosine_similarity(vector)

In [567]:
similarity

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.12598816],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.13608276,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.13608276, ..., 0.        , 1.        ,
        0.        ],
       [0.12598816, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [568]:
import pickle

In [569]:
pickle.dump(similarity, open('model/similarity.pkl' , 'wb'))